name: "CLI Tool"

on:
  workflow_call:
    inputs:
      ref:
        required: false
        type: string
        default: ''
  workflow_dispatch:
    inputs:
      ref:
        required: false
        type: string
        default: ''

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.ref || github.ref }}

      - uses: actions/setup-go@v5
        with:
          go-version: '1.24'

      - name: Test Module
        working-directory: ./src/commands
        run: go run . "test module" src-cli

      - name: Upload Test Results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-results-src-cli
          path: out/test-results/**/src-cli/**

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.ref || github.ref }}

      - uses: actions/setup-go@v5
        with:
          go-version: '1.24'

      - name: Build Module
        working-directory: ./src/commands
        run: go run . "build module" src-cli

      - name: Upload Build Artifacts
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: build-artifacts-src-cli
          path: out/src-cli/**
